.tile{
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

#white{
    background-color: rgb(238, 238, 210);
}

#black{
    background-color: rgb(118, 150, 86);

}

.piece {
   height: 90px;
   width: 90px;
}

.piece:hover{
    cursor: pointer;
}
